* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    font-family: helvetica;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.repoName {
    margin: 30px;
    color: #2e3235;
    font-size: 40px;
}

.repoDesc {
    color: #7b7d85;
    font-size: 22px;
    margin: 30px;
}

.image {
    margin: 40px;
}

.redRect {
    background-color: #e44c27;
    height: 15px;
}

.repoStats {
    display: flex;
    margin: 40px;
    gap: 20px;
}

.material-symbols-rounded {
    font-size: 30px !important;
    color: #7b7d85;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

.statText {
    margin: 10px;
}

.statValue {
    font-size: 25px;
}

.statName {
    color: #7b7d85;
}

.fork {
    transform: scale(-1);
}

.githubLogo {
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 20px;
}

